$color_bg: #232931;
$color_bg-secondary: #393E46;
$color_fg: #EEEEEE;
$color_fg-secondary: #8E05C2;
$color_primary: #4ECCA3;
$color_nix: #7eb2df;

* {
  all: unset;
}

.bar {
  color: $color_fg;
  background-color: $color_bg;
  border-radius: 1rem;
  font-family:
    Atkinson Hyperlegible,
    IosevkaTerm Nerd Font;
}
.launcher {
  color: $color_nix;
  font-size: 1.2rem;
}

.leftbar,
.rightbar {
  border-radius: 1rem;
  padding: 0 1rem;
}

.tray {
  padding: 0 1rem;
}

.systray {
  padding: 0 .5rem;
  background-color: $color_bg-secondary
}

.tooltip {
  padding: 0 .5rem;
}

.workspace-e:hover {
  color: $color_primary
}

tooltip {
  background-color: $color_bg;
  border-radius: 1rem;
}

.calendar {
  padding: .3rem;
}

.tray-item {
  padding: .2rem;
}

.tray-item:hover {
  color: $color_primary;
}

.current {
  color: $color_primary;
}

.customicons > * {
  border-radius: 1rem;
}

.powercontainer {
  background-color: $color_bg;
  color: $color_fg;
  padding:  1rem;
  border-radius: 1rem;
}

.colorbtn {
  background-color: $color_bg-secondary;
  color: $color_fg;
}

.powerbar {
  background-color: $color_bg-secondary;
}

.statusbar {
  margin-bottom: 1rem;
}

.powerbar-item {
  margin: 1rem;
}
