@define-color accent #b8bb26;
@define-color accent2 #79740e;
@define-color txt #f9f5d7;
@define-color bg #1d2021;
@define-color bg2 #32302f;

 * {
    font-family: "Atkinson Hyperlegible", "Hack Nerd Font", monospace;
    font-size: 14px;
 }

 window {
    margin: 0px;
    padding: 10px;
    border: 3px solid @accent;
    border-radius: 7px;
    background-color: @bg;
    animation: slideIn 0.5s ease-in-out both;
 }

 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
    animation: fadeIn 0.5s ease-in-out both;
 }

 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 #outer-box {
    padding: 10px;
    border: none;
    background-color: @bg;
 }

 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @accent;
    background-color: @bg2;
    animation: fadeIn 0.5s ease-in-out both;
 }

 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    animation: fadeIn 0.5s ease-in-out both;
 }

 #entry:selected {
   background-color: @accent2;
 }

 #entry:selected #text {
    color: @bg;
 }
