$color_nix: #7eb2df;
$color_orange: #fe8019;
$color_blue: #83a598;
$color_green: #b8bb26;
$color_text: #f9f5d7;
$color_bg: #1d2021;

* {
	all: unset;
}

.bar {
	color: $color_text;
	background-color: rgba(29, 32, 33, 0.8);
	border-radius: 1rem;
	font-family:
		Atkinson Hyperlegible,
		Hack Nerd Font;
}

.leftbar,
.rightbar {
	background-color: rgba(29, 32, 33, 1);
	border-radius: 1rem;
	padding: 0 1rem;
}

.internet {
	color: $color_green;
}

.clock {
	color: $color_blue;
	font-weight: 600;
}

.launcher {
	color: $color_nix;
}

.volume {
	color: $color_orange;
}

.current {
	color: $color_orange;
}

.power-cont {
	background-color: $color_bg;
	border-radius: 20px;
}

.powerpane {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.powerboxes {
	color: $color_text;
	background-color: $color_bg;
	font-size: 48px;
	border-radius: 20px;
}
