$color_nix: rgba(126, 178, 223, 1);
$color_orange: rgba(254, 128, 25, 1);
$color_blue: rgba(131, 165, 152, 1);
$color_green: rgba(184, 187, 38, 1);
$color_text: rgba(249, 245, 215, 1);

* {
	all: unset;
}

.bar {
	color: $color_text;
	background-color: rgba(29, 32, 33, 0.8);
	border-radius: 1rem;
	font-family: Atkinson Hyperlegible, Hack Nerd Font;
}

.leftbar,
.rightbar {
	background-color: rgba(29, 32, 33, 1);
	border-radius: 1rem;
	padding: 0 1rem;
}

.internet {
	color: $color_green;
}

.clock {
	color: $color_blue;
	font-weight: 600;
}

.launcher {
	color: $color_nix;
}

.volume {
	color: $color_orange;
}

.current {
	color: $color_orange;
}

.net {
	background-color: $color_green;
}

.netpop {
	color: $color_orange;
}
